---
layout: single
---

<h3>Recent News</h3>
<p>
  <ul>
    <li>I will be presenting our work: "Investigating Societal Biases in a Poetry Composition System" at the Gender Bias in NLP Workshop (COLING 2020).</li>
    <li>I'm planning to graduate in the spring and am looking for interesting opportunities!</li>
  </ul>
</p>


<h3>About Me</h3>
<p>
  I am a Ph.D. candidate in Computer Science at the University of Southern California, advised by <a href="https://www.isi.edu/about/bio/prem_natarajan" target="_blank">Dr. Prem Natarajan</a> and <a href="http://vnpeng.net/" target="_blank">Dr. Nanyun Peng</a> at the Information Sciences Institute. I am excited about better understanding how bias manifests in natural language processing techniques and advancing ideas for more fair NLP. Specifically, my recent research focuses on biases in language generation.
</p>
<p>
  Prior to entering the Ph.D. program at USC, I studied Computer Science and Cognitive Science at UC Berkeley and worked at an intelligent voice search start-up in San Francisco.
</p>



