---
layout: single
---

<h3>About Me</h3>
<p>
  I am a fourth-year Ph.D. student in Computer Science at the University of Southern California, advised by Dr. Prem Natarajan at the Information Sciences Institute. I am excited about better understanding how bias manifests in natural language processing techniques and advancing ideas for more fair NLP. I have previously worked in the areas of information extraction, named entity recognition, and using scientific literature to facilitate learning.
</p>
<p>
  Prior to entering the Ph.D. program at USC, I studied Computer Science and Cognitive Science at UC Berkeley and worked at an intelligent voice search start-up in San Francisco.
</p>



